NODE_ENV=development
PORT=10000
MONGODB_URI=mongodb+srv://USER:PASS@cluster0.mongodb.net/casa_relays?retryWrites=true&w=majority
JWT_SECRET=troque_este_segredo
DEVICE_ID=CASA01
DEVICE_KEY=CHAVE_SEGURA_123
APP_NAME=Casa Inteligente
RESET_TOKEN_MINUTES=30
